.forget-password-page {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 0; }
  .forget-password-page__content {
    background-color: #ffffff;
    padding: 30px 15px;
    height: calc(100vh - 60px); }
    .forget-password-page__content__success {
      font-weight: 500;
      font-size: 25px;
      line-height: 28px;
      color: #4E7FFF;
      margin-bottom: 15px; }
    .forget-password-page__content__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 30px; }
    .forget-password-page__content .form-control {
      padding: 10px 0 20px 0;
      border: none;
      border-bottom: 1px solid #EEEEEE;
      border-radius: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      color: #000000; }
      .forget-password-page__content .form-control::placeholder {
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #CED4D9; }
      .forget-password-page__content .form-control:focus {
        box-shadow: none; }
    .forget-password-page__content__button {
      margin-top: 50px; }
      .forget-password-page__content__button .btn {
        width: 100%;
        background: #597EF7;
        border-radius: 10px;
        min-height: 50px;
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        place-content: center;
        place-items: center; }
    .forget-password-page__content__description {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: #000000;
      margin-top: 15px; }
