.manage-password {
  padding-top: 50px; }
  .manage-password .submit-btn {
    padding: 0 15px; }
    .manage-password .submit-btn .btn {
      min-height: 50px;
      width: 100%; }
  .manage-password .modal .modal-content {
    height: auto !important;
    padding: 30px 20px; }
    .manage-password .modal .modal-content .manage_password_success_modal_content {
      font-weight: 300;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #000000; }
    .manage-password .modal .modal-content .btn {
      padding-top: 8px;
      padding-bottom: 8px; }
