#mySidenav.sidenav {
  width: 100%;
  position: fixed;
  z-index: 1035;
  top: 0;
  bottom: 0;
  left: -500%;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex; }
  #mySidenav.sidenav .left-nav {
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: space-between;
    min-width: 300px;
    overflow: auto; }
    #mySidenav.sidenav .left-nav__container {
      max-width: var(--max-with-mobile);
      padding: 40px var(--bs-gutter-y-mobile);
      height: 100%;
      margin: auto; }
      #mySidenav.sidenav .left-nav__container__menu__footer {
        display: flex;
        place-content: space-around;
        place-items: center;
        gap: 10px 20px;
        flex-wrap: wrap;
        padding: 20px 0; }
        #mySidenav.sidenav .left-nav__container__menu__footer a {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: rgba(255, 255, 255, 0.4); }
      #mySidenav.sidenav .left-nav__container__menu__action {
        padding: 40px 0 15px; }
        #mySidenav.sidenav .left-nav__container__menu__action a {
          min-height: 50px;
          display: flex;
          place-content: center;
          place-items: center;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          color: #000000; }
      #mySidenav.sidenav .left-nav__container__menu__welcome {
        display: flex;
        place-content: space-between;
        place-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
        padding: 15px 0 13px; }
        #mySidenav.sidenav .left-nav__container__menu__welcome span {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #0089FF; }
      #mySidenav.sidenav .left-nav__container__menu__info {
        margin-bottom: 15px; }
        #mySidenav.sidenav .left-nav__container__menu__info a {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF; }
          #mySidenav.sidenav .left-nav__container__menu__info a span {
            padding-left: 10px; }
      #mySidenav.sidenav .left-nav__container__menu__country {
        display: flex;
        place-content: space-between;
        place-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF; }
        #mySidenav.sidenav .left-nav__container__menu__country span {
          padding: 0 10px; }
        #mySidenav.sidenav .left-nav__container__menu__country a.country-name {
          color: rgba(255, 255, 255, 0.4); }
          #mySidenav.sidenav .left-nav__container__menu__country a.country-name img {
            transition: all 0.5s; }
          #mySidenav.sidenav .left-nav__container__menu__country a.country-name.active img {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg); }
      #mySidenav.sidenav .left-nav__container__menu .collapse__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.4);
        padding: 7px 30px;
        display: flex;
        place-content: flex-start;
        place-items: center;
        gap: 6px; }
        #mySidenav.sidenav .left-nav__container__menu .collapse__item:first-child {
          padding-top: 15px !important; }
        #mySidenav.sidenav .left-nav__container__menu .collapse__item.active {
          color: #FFFFFF; }
      #mySidenav.sidenav .left-nav__container__menu__nav {
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
        display: flex;
        place-content: space-between;
        place-items: center;
        padding-bottom: 8px; }
      #mySidenav.sidenav .left-nav__container__menu__content {
        margin: 15px -5px !important;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22); }
        #mySidenav.sidenav .left-nav__container__menu__content__item {
          padding-bottom: 10px;
          padding-left: 5px;
          padding-right: 5px; }
          #mySidenav.sidenav .left-nav__container__menu__content__item .category {
            background: #26314C;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            display: block; }
            #mySidenav.sidenav .left-nav__container__menu__content__item .category img {
              width: 100%;
              margin-top: -2px; }
            #mySidenav.sidenav .left-nav__container__menu__content__item .category span {
              position: absolute;
              left: 15px;
              top: 15px;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #FFFFFF; }
  #mySidenav.sidenav .backdrop {
    transition: 1s;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 0; }
  #mySidenav.sidenav.active {
    left: 0; }
