:root {
    --general-txt-color: #212529;
    --play-step-bg-color: linear-gradient(to bottom, #E6E6E6, #ffffff);
    --play-step-shadow-color: rgba(0, 0, 0, 0.16);
    --recommended-game-box-shadow-color: rgba(0, 0, 0, 0.16);
    --whats-new-title-color: #404040;
    --whats-new-content-color: #868686;
    --register-form-shadow-color: rgba(0, 0, 0, 0.16);
    --slider-container-bg-color: #f5f5f4;
    --swiper-slide-bg-color: linear-gradient(to bottom, #EFEFEF, #FFFFFF);
    --swiper-slide-box-shadow-color: rgba(0, 0, 0, 0.16);
    --swiper-txt-color: #868686;
    --info-drop-list-header-bg-color: linear-gradient(to bottom, #EFEFEF, #FFFFFF);
    --infoDropList-content-txt-color: #B6B6B6;
    --infoDropList-content-bg-color: #FFFFFF;
}

[data-theme=dark] {
    --general-txt-color: #fff;
    --play-step-bg-color: linear-gradient(to bottom, #000, #000);
    --play-step-shadow-color: rgba(255, 255, 255, 0.16);
    --recommended-game-box-shadow-color: rgba(255, 255, 255, 0.45);
    --whats-new-title-color: #ffffff;
    --whats-new-content-color: #B5B5B5;
    --register-form-shadow-color: rgba(255, 255, 255, 0.16);
    --slider-container-bg-color: #272727;
    --swiper-slide-bg-color: linear-gradient(to bottom, #A09C9C, #646464);
    --swiper-slide-box-shadow-color: rgba(255, 255, 255, 0.45);
    --swiper-txt-color: #cccccc;
    --info-drop-list-header-bg-color: linear-gradient(to bottom, #BAB3B3, #BFBFBF);
    --infoDropList-content-txt-color: #212529;
    --infoDropList-content-bg-color: #BFBFBF;
}

.play-step-wrap {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background: var(--play-step-bg-color);
    background-color: transparent;
    box-shadow: 0px 3px 3px 0px var(--play-step-shadow-color);
}

.play-step-wrap .step-container {
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
}

.play-step-wrap .step-wrap {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.play-step-wrap .step-img {
    width: 35%;
}

.play-step-wrap .step-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.play-step-wrap .step-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10px;
}

.play-step-wrap .step-inner-wrap .step {
    font-weight:400;
    font-size: 22px;
    line-height: 25px;
    color: var(--general-txt-color);
}

.play-step-wrap .step-inner-wrap .step-desc {
    font-weight:400;
    font-size: 28px;
    line-height: 32px;
}

.play-step-wrap .step-inner-wrap .red-txt {
    color: #A50505;
    font-weight: 700;
}

.recommended-games-section,
.new-feature-section,
.most-play-section {
    padding-top: 60px;
    text-align: left;
}

.recommended-games-section .title,
.feature-section .title,
.whats-new-section .title,
.most-play-section .title {
    text-transform: uppercase;
    border-left: 3px solid var(--general-txt-color);
    padding: 2px 12px;
    font-size: 16px;
    font-weight: 700;
}

.recommended-games-section .games-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 20px 0px;
    width: 100%;
}

.recommended-games-section .game-wrap {
    display: inline-block;
    flex: 0 0 auto;
    width: calc(25% - 15px);
    margin: 0px 20px 5px 0px;
    background: linear-gradient(to right, #DBDBDB, #FFFFFF, #D8D8D8);
    box-shadow: 0px 3px 3px 0px var(--recommended-game-box-shadow-color);
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
}

.recommended-games-section .game-wrap:last-child {
    margin: 0px 0px 5px;
}

.recommended-games-section .game-wrap .game-img {
    width: 100%;
}

.recommended-games-section .game-wrap .game-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0.4;
}

.recommended-games-section .game-wrap.mouseover .game-img img {
    opacity: 1;
}

.recommended-games-section .game-wrap .game-title {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin: 6px 0px 4px;
    color: #212529;
}

.recommended-games-section .game-wrap .game-play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    background: #BABABA;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.recommended-games-section .game-wrap.mouseover .game-play-btn {
    background: linear-gradient(to bottom, #980000, #4C0000);
}

.feature-section .video-wrap,
.whats-new-section .new-column-wrap {
    margin: 20px 0px;
}

.feature-section .video-wrap video {
    width: 100%;
    height: 275px;
}

.whats-new-section .new-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    height: 130px;
}

.whats-new-section .new-wrap .img-wrap {
    width: 48%;
}

.whats-new-section .new-wrap .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.whats-new-section .new-wrap .desc-wrap {
    width: 52%;
    margin-left: 15px;
}

.whats-new-section .new-wrap:last-child {
    margin-bottom: 0px;
}

.whats-new-section .new-wrap .desc-wrap .desc-title {
    font-size: 16px;
    margin: 5px 0px;
    color: var(--whats-new-title-color);
}

.whats-new-section .new-wrap .desc-wrap .desc-content {
    font-size: 12px;
    color: var(--whats-new-content-color);
}

.most-play-section {
    width: 100%;
    height: 370px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.most-play-section .games-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 40px;
}

.most-play-section .marquee-inner {
    position: absolute;
    animation: marquee 10s linear infinite;
}

.most-play-section .marquee-inner:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        left: 0px;
    }

    100% {
        left: -1350px;
    }
}

.most-play-section .games-row-inner,
.most-play-section .games-row-inner2 {
    display: flex;
    flex-direction: row;
}

.most-play-section .game-wrap {
    display: inline-block;
    flex: 0 0 auto;
    width: 205px;
    margin: 0px 20px 5px 0px;
    background-color: white;
    box-shadow: 0px 3px 3px 0px var(--recommended-game-box-shadow-color);
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
}

.most-play-section .games-row-inner2 .game-wrap:last-child {
    margin: 0px 40px 5px 0px;
}

.most-play-section .game-wrap .game-img {
    width: 100%;
    position: relative;
    text-align: center;
}

.most-play-section .game-wrap .game-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.most-play-section .game-wrap .vendor-img {
    position: absolute;
    bottom: -20px;
    height: 36px;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-left: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.most-play-section .game-wrap .game-title {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    padding: 18px 0px 10px;
    color: #212529;
    background: linear-gradient(to bottom, #C6C6C6, #EFEFEF);
}

.register-form-container {
    background-color: white;
    box-shadow: 0px 1px 3px 2px var(--register-form-shadow-color);
    padding: 20px;
    margin: 60px 80px;
}

.register-form-group {
    display: flex;
    flex-direction: row;
}

.register-form-group .control-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #212529;
    margin-top: 10px;
    text-align: right;
    padding-right: 30px;
}

.slider-container {
    background-color: var(--slider-container-bg-color);
    position: relative;
    z-index: 10;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 650px !important;
    width: auto;
    padding: 40px 20px;
    z-index: 1;
    background: var(--swiper-slide-bg-color) !important;
    box-shadow: inset 0px 0px 3px 0px var(--swiper-slide-box-shadow-color);
    border-radius: 40px;
}

.swiper-pagination-bullet {
    background: #efefef !important;
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #efefef;
    width: 40px !important;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    height: 18px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 35px !important;
    right: 15px !important;
    width: 24% !important;
    left: unset !important;
}

.swiper-slide-active,
.swiper-slide-next {
    opacity: 1;
}

#infoDropList .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#infoDropList .card .collapse {
    border: 0;
}

#infoDropList .card {
    margin-bottom: 20px;
    box-shadow: 0px 2px 3px 1px var(--swiper-slide-box-shadow-color);
    border-radius: 18px !important;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: grab;
}

.about12play h3 {
    font-size: 18px;
    color: black;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: left;
}

.about12play>div {
    color: var(--swiper-txt-color);
    font-size: 14px;
    text-align: justify;
    padding-bottom: 15px;
}

.infoDropList-title {
    text-align: left;
    background: var(--info-drop-list-header-bg-color);
    color: #980000;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    height: 65px;
}

.infoDropList-title:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    top: 12px;
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: grey;
}

.infoDropList-title.active:after {
    content: "\f106";
}

.infoDropList-content {
    background-color: var(--infoDropList-content-bg-color);
    padding: 10px 20px 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    display: none;
}

.infoDropList-content div {
    color: var(--infoDropList-content-txt-color);
    padding-bottom: 15px;
    font-size: 14px;
    text-align: justify;
}

.infoDropList-content .content-subtitle {
    color: var(--infoDropList-content-txt-color);
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    padding-bottom: 5px;
}

.infoDropList-content div:last-child {
    padding-bottom: 0px;
}